---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}
{% assign n_total = site.data.publications | size %}
{% assign firsts = site.data.publications | where: "first_author", true %}
{% assign n_first = firsts | size %}
{% assign n_co = n_total | minus: n_first %}

<p>
  {{ n_total }} papers, {{ n_first }} as first author. See also
  <a href="https://scixplorer.org/search?q=author%3A%22Shariat%2C%20Cheyanne%22&amp;sort=date%20desc">SciX</a> and
  <a href="https://arxiv.org/search/?searchtype=author&amp;query=Cheyanne%20Shariat">arXiv</a>.
</p>

<h2>First-author papers</h2>
{% include publication-list.html first_author=true start=n_first %}

<h2>Co-authored papers</h2>
{% include publication-list.html first_author=false start=n_co %}
